[access]
	inheritFrom = Public-Plugins
[submit]
	action = inherit
[access "refs/heads/gerrithub-chatgpt-code-review/main"]
	forgeCommitter = group Project Owners
	push = group Project Owners
	pushMerge = group Project Owners
[access "refs/*"]
	owner = group plugins-ai-code-review
[access "refs/heads/*"]
	createSignedTag = group plugins-ai-code-review
	label-Code-Review = -2..+2 group plugins-ai-code-review
	push = group plugins-ai-code-review
	submit = group plugins-ai-code-review
[project]
	description = Provides AI automated code review services using either private or public AI Service providers.
